use-node-version=23.10.0
legacy-peer-deps=true
node-linker=hoisted
public-hoist-pattern[]=*
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
engine-strict=true 