@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4F9CF9;
  --secondary-color: #8EE4AF;
  --background-color: #F5F5F5;
  --text-color: #333333;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
} 